div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
table{
    margin: 100px 0px;
}

.first-th{
    padding-left: 46px;
}
.first-ths{
    padding-left: 46px;
}
th{
    color: #fff;
}
td{
    color: #fff;
}
.yes{
    padding: 15px 30px;
}
@media(max-width:645px){
    .first-th{
        padding-left: 25px;
    }
    .first-ths{
        padding-left: 40px;
    }
}
@media(max-width:548px){
    th{
        font-size: 10px;
    }
    td{
        font-size: 10px;
    }
    button{
        height: 40px;
        width: 40px;
    }
    mat-icon{
        position: absolute;
    left: 21%;
    bottom: 21%;
    }
    
}
@media(max-width:436px){
    table{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    td{
        padding: 15px 6px;
    }
    .first-ths{
        padding-right: 28px;
}
.first-th{
    padding-left: 0px;
}
th{
    font-size: 7px;
}
mat-icon{
    font-size: 16px;
    left: 13%;
    bottom: 0%;
}
button{
    height: 30px;
    width: 30px;
}

}

@media(max-width:372px){
    .first-ths{padding-left: 21px;}
}
