footer{
    background: black;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    position: absolute;
  
    bottom: 0;
    width: 100%;
}
span{
    color: #fff;
    font-size: 25px;
}