<div>
    <div class="head">
    <div class="mains">
        <div>
            <div class="error">
                <h1>404 Error</h1>
            </div>
            <div class="oops">
                <h1>Oops page could'nt be found</h1>
            </div>
        </div>
        <div class="go">
            <h2>Go To Home</h2>
        </div>
        <div>
            <a routerLink="/"><button mat-fab color="" aria-label="Example icon button with a delete icon">
                <div class="icon-div">
                    <i class="fa fa-home" style="font-size:36px"></i>
                </div>
              </button></a>
        </div>
    </div>
</div>
</div>
