.mains{
    background: url('/assets/404.jpg');
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.head{
    
}
.error{
    display: flex;
    justify-content: center;
    margin-top: -20px;
    color: #fff;
}
button{
    background: red;
}
.icon-div i{
    color: #fff;
    margin: -7px 0px;
}
.oops{

    color: #fff;
   
}
 h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.go{
    color: #fff;
    margin-top: 40px;
}
@media(max-width:500px){
    h1{
        font-size: 35px;
    }
}
@media(max-width:430px){
    h1{
        font-size: 30px;
    }
}
@media(max-width:360px){
    h1{
        font-size: 27px;
    }
}