<div>
    <div class="mains">
        <div class="merge">
        <div class="kk">
       <span>Hello,<span class="kanishk"> Kanishk upadhyay </span> here.</span><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nulla saepe dolorem maiores animi nostrum ex in voluptatum dolor! Totam corrupti ipsa exercitationem explicabo nihil quo cupiditate minus ratione sunt!</p>
    </div>

<div class="follow">
    <h1>You can follow me on the following</h1>
</div>

    <div class="btn-div">
        <button mat-fab color="" aria-label="Example icon button with a delete icon">
            <div class="icon-div">
                <i class="fa fa-instagram" style="font-size:36px"></i>
            </div>
          </button>
          
          <button mat-fab color="" aria-label="Example icon button with a delete icon">
            <div class="icon-div">
                <i class="fa fa-linkedin" style="font-size:36px"></i>
            </div>
          </button>
          <button mat-fab color="" aria-label="Example icon button with a delete icon">
            <div class="icon-div">
                <i class="fa fa-github" style="font-size:36px"></i>
            </div>
          </button>
          <button mat-fab color="" aria-label="Example icon button with a delete icon">
            <div class="icon-div">
                <i class="fa fa-facebook" style="font-size:36px"></i>
            </div>
          </button>
    </div>
            
           
           
           
            
    </div>
</div>