<div>
<div class="contain">
<div class="mains">
<div class="please">
    <h1>Please Sign in</h1>

<div class="form-div">
<form class="form-signin" id="login" role="form">
  <a href="#" id="flipToRecover" class="flipLink">
    <div id="triangle-topright"></div>
  </a>
  <input type="email"  name="loginEmail" id="loginEmail" placeholder="Email address" required autofocus><br><br>
  <input type="password"  name="loginPass" id="loginPass" placeholder="Password" required>
  <button class="btn btn-lg btn-block" type="submit">Sign in</button>
</form>
</div>
</div>
</div>
</div>
</div>